<launch>
  <arg name="onto_display" default="false"/>
  <arg name="onto_config_file" default="none"/>
  <arg name="onto_intern_file" default="none"/>
  <arg name="onto_robot_file" default="none"/>
  <arg name="onto_human_file" default="none"/>
  <arg name="onto_files" default=""/>

  <arg name="mementar_intern_directory" default="none"/>
  <arg name="mementar_config_file" default="$(find mementar)/files/config_example.yaml"/>

  <group>
    <include file="$(find ontologenius)/launch/ontologenius_multi_full.launch">
      <arg name="display" value="$(arg onto_display)" />
      <arg name="config_file" value="$(arg onto_config_file)" />
      <arg name="files" value="$(arg onto_files)" />
      <arg name="intern_file" value="$(arg onto_intern_file)" />
      <arg name="robot_file" value="$(arg onto_robot_file)" />
      <arg name="human_file" value="$(arg onto_human_file)" />
    </include>
  </group>

  <include file="$(find mementar)/launch/mementar_multi_full.launch">
    <arg name="intern_directory" value="$(arg mementar_intern_directory)" />
    <arg name="config_file" value="$(arg mementar_config_file)" />
  </include>
</launch>
