<launch>
  <arg name="intern_directory" default="none"/>
  <arg name="config_file" default="$(find mementar)/files/config_example.yaml"/>
  <arg name="display" default="false"/>

  <group>
    <remap from="/ontologenius/insert_echo" to="/mementar/insert_stamped"/>
    <remap from="/ontologenius/insert_explanations" to="/mementar/insert_explanations"/>
    <include file="$(find ontologenius)/launch/ontologenius_full.launch">
      <arg name="display" value="$(arg display)" />
    </include>
  </group>

  <include file="$(find mementar)/launch/mementar.launch">
    <arg name="intern_directory" value="$(arg intern_directory)" />
    <arg name="config_file" value="$(arg config_file)" />
  </include>
</launch>
